[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/lucperkins/hugo-fresh.git
[submodule "themes/landing-page-hugo"]
	path = themes/landing-page-hugo
	url = https://github.com/crakjie/landing-page-hugo.git
